@import "../../../shared/styles/variables.scss";
@import "../../../shared/styles/mixins.scss";

.userItem {
  padding: 10px;
  margin: 0 10px 10px 10px;
  background-color: white;
  border-radius: 8px;
  display: flex;
}

.image {
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 0.5rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}

.name {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: bold;
  flex-grow: 100;
}

.svg {
  width: 16px;
  margin-left: 3px;
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  @include link;
  font-size: 0.9rem;
}

@media screen and (max-width: 425px) {
  .name {
    font-size: 0.8rem;
  }
  .link {
    font-size: 0.8rem;
  }
  .svg {
    width: 13px;
  }
  .image {
    width: 2rem;
    height: 2rem;
  }
}
