.container {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
}

.born {
  margin: 16px 0;
}

.gender {
  margin: 16px 0;
}

label {
  font-weight: bold;
  margin: 0;
  display: block;
}

.confirmUpdate {
  font-weight: bold;
}
