@import "../../shared//styles/variables.scss";

.container {
  border-radius: 8px;
  margin: 0 0 $vertical-rhythm 0;
  background-color: #f4f7f8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.26);
  padding: 10px;
  button {
    margin-bottom: 0;
  }
}
